{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-undefined": "warn",
    "no-unused-vars": "warn",
    "consistent-return": "off",
    "radix": "off",
    "max-len": "off"
  }
}